# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment variables
.env

# Virtual environment
venv/
env/

# Streamlit cache
.streamlit/

# Logs and temporary files
*.log
*.tmp
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/